body {
    font-family: Tahoma;
    padding: 0px;
    margin: 0px;
}

body, input {
    font-size: 25px;
}

h3 {
    background: linear-gradient(#aaaaff, #000088);
    color: #ffffff;
    margin: 0px;
    padding: 5px;
    font-size: 20px;
    z-index: 1;
}

.choser-title {
    background: linear-gradient(#aaaaff, #000088);
    color: #ffffff;
    display: block;
    padding: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

h3 label {
    border: 1px dotted #ffffff;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    line-height: 40px;
    break-inside: avoid;
    word-break: keep-all;
    display: inline-block;
}

h3 label input {
    width: 15px;
    height: 15px;
}

.chose-tables {
    float: right;
    cursor: pointer;
}

.tables
{
    position: absolute;
    top: 0px;
    bottom: 15px; /* for the copyright footer */
    right: 0px;
    left: 0px;
}

.button {
    cursor: pointer;
    color: #000088;
    display: inline-block;
    padding: 5px;
    margin-top: 5px;
}

.tables .dialog {
    position: relative;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -190px;
    height: 380px;
    width: 400px;
    box-shadow: #888888 5px 5px 5px;
    border-radius: 5px;
    text-align: center;
    background: #cccccc;
    z-index: 1;
}

.small-text {
    font-size: 10pt;
    display: inline-block;
    line-height: 100%;
    vertical-align: middle;
}

.sums {
    text-align: center;
    z-index: 1;
    margin-bottom: 25px; /* for the copyright footer */
}

.sum {
    display: block;
    padding: 25px;
    margin: 10px;
    box-shadow: #888888 2px 2px 5px;
    border-radius: 10px;
    position: relative;
}

.sum input[readonly], .sum input[disabled] {
    cursor: default;
    border: 0px;
    outline: 0px;
    background: transparent;
    overflow: show;
}

.sum input[readonly] {
    color: inherit;
    font-weight: normal;
}

.sum input{
    font-weight: bolder;
    color: #00ff00;
    text-align: center;
    width: 65px;
    border-radius: 5px;
    border-width: 0px;
}

/* Chrome, Safari, Edge, Opera */
.sum input::-webkit-outer-spin-button,
.sum input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.sum .duration {
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 5px;
    font-size: 15px;
}

.correct-answer{
    display: none;
    padding: 5px;
    border-top: 2px dashed #ff0000;
    margin-top: 5px;
}

.incorrect .correct{
    display: block;
}

.skipped input, .incorrect input{
    color: #ff0000;
}

.skipped, .incorrect {
    background-color: #ff8888;
}

.correct {
    background-color: #21c021;
}

.sums .sum:first-child{
    background-color: #cccccc;
    padding: 25px;
}

.sums .sum:first-child input{
    color: #000000;
}

.sums .sum:first-child .answer{
    cursor: pointer;
}

.copyright-footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    font-size: 10px;
    padding: 2px;
    background: #cccccc;
    opacity: 0.5;
    z-index: 1;
}

.background-grey {
    background-color: #cccccc;
}

.background {
    background-position: center;
}

.answer-animation {
    position: absolute;
    display: none;
    text-align: center;
}